<footer style="z-index: 0; padding-top: 30px; margin-top: auto;">
    <div class="card text-white text-center mb-3" style="background-color: #2f3640; margin-bottom:0px !important;">
        <div class="card-body">
            <h5 class="card-title">A Fyz Project.</h5>
            <p class="card-text">L'ensemble des ressources utilisée pour ce projet sont retrouvable sur mon GitHub.</p>
            <a target="_blank" href="discord://click-me/users/205052390259294210" class="btn btn-warning"><i class="fa-brands fa-discord"></i></a>
            <a target="_blank" href="https://github.com/FyzRDC" class="btn btn-warning"><i class="fa-brands fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/thibeau-benet/" class="btn btn-warning"><i class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://twitter.com/FyzRDC" class="btn btn-warning"><i class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="mailto:hello@fyz.center" class="btn btn-warning"><i class="fa-regular fa-envelope"></i></a>
        </div>
        <div class="card-footer text-muted">
            Fait avec 💛 par Thibeau Benet. Sous licence MIT.
        </div>
    </div>
</footer>
