<header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f3640;">
    <div class="container-fluid">
      <img class="navbar-brand" src="https://fyz.center/images/irl_title.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{#xif "urlPath == '/'"}}active{{/xif}}" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#xif "urlPath == '/aboutme'"}}active{{/xif}}" href="/aboutme">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#xif "urlPath == '/skills'"}}active{{/xif}}" href="/skills">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#xif "urlPath == '/projects'"}}active{{/xif}}" href="/projects">Projets</a>
                </li>
            </ul>
                <div class="d-flex">
            {{#xif "user == 'none'"}}
                    <a class="btn btn-outline-light" href="/login">Connexion</a>
                    <a class="btn btn-outline-warning" href="/register">Inscription</a>
            {{/xif}}
            {{#xif "user != 'none'"}}
                <comment>TODO : Add "Dashboard" button, login & register form</comment>
            {{/xif}}
                </div>

        </div>
    </div>
</nav>
</header>

