<!DOCTYPE html>
<html lang="fr">
<head>
    {{> libs}}
    <meta charset="UTF-8">
    <title>Thibeau - Projets</title>
</head>
{{> header}}
<body>

<div class="container">
    <div class="row align-items-center" style="flex-wrap: wrap;">
        <div class="col">
            <div class="card align-baseline" style="background-color: #5b6369">
                <img src="medias/projects/antiwolf.png" class="card-img-top imgProject">
                <div class="card-body" style="background-color: #474D52FF; border-color: #474D52FF;">
                    <h2 style="color: white">AntiWolf</h2>
                    <p class="card-text">AntiWolf est un network Minecraft basé sur du Host et des mini-jeux, comptant à son apogée 2000 joueurs.</p>
                    <p class="card-text"><span class="badge text-bg-warning">Java</span>
                        <span class="badge text-bg-warning">Maven</span>
                        <span class="badge text-bg-warning">Git</span>
                        <span class="badge text-bg-warning">MySQL</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card align-baseline" style="background-color: #5b6369">
                <img src="medias/projects/freshperf.png" class="card-img-top imgProject">
                <div class="card-body" style="background-color: #474D52FF; border-color: #474D52FF;">
                    <h2 style="color: white">FreshPerf</h2>
                    <p class="card-text">FreshPerf est une association à but non lucratif permettant l'hébergement de services informatiques mais aussi la réalisation de programmes.</p>
                    <p class="card-text">
                        <span class="badge text-bg-warning">Java</span>
                        <span class="badge text-bg-warning">Web</span>
                        <span class="badge text-bg-warning">Réseau</span>
                        <span class="badge text-bg-warning">Linux</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card align-baseline" style="background-color: #5b6369">
                <img src="medias/projects/winveer.png" class="card-img-top imgProject">
                <div class="card-body" style="background-color: #474D52FF; border-color: #474D52FF;">
                    <h2 style="color: white">Winveer App</h2>
                    <p class="card-text">Winveer App est une application pour accéder à Winveer de manière fluide et optimisée pour les appareils Android..</p>
                    <p class="card-text">
                        <span class="badge text-bg-warning">Kotlin</span>
                        <span class="badge text-bg-warning">Android</span>
                        <span class="badge text-bg-warning">Git</span>
                        <span class="badge text-bg-warning">XML</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> loader}}
</body>
{{> footer}}
</html>
