<!DOCTYPE html>
<html lang="fr">
<head>
    {{> libs}}
    <meta charset="UTF-8">
    <title>Thibeau - Projets</title>
</head>
{{> header}}
<body>

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="card align-baseline">
                <img src="medias/projects/antiwolf.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><span class="badge text-bg-warning">Warning</span></p>
                    <p class="card-text">AntiWolf est un network Minecraft basé sur du Host et des mini-jeux, comptant à son apogée 2000 joueurs.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card align-baseline">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card align-baseline">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> loader}}
</body>
{{> footer}}
</html>
