<!DOCTYPE html>
<html lang="fr">
<head>
    {{> libs}}
    <meta charset="UTF-8">
    <title>Thibeau - Compétences</title>
</head>
{{> header}}
<body>

<div class="container">
    <div id="programming" class="row">
        <div class="col-5 text-center" style="margin-top: 15px;">
            <h2 class="title">Programmation</h2>
        <p class="subtitle">En quelques années j'ai eu le temps d'utiliser plusieurs langages de programmation avec tous leurs spécificités, voici le niveau que j'estime avoir sur chacun d'entre eux.</p>
        </div>
        <div class="col-5 offset-2">
            <div class="progress progressSpace" style="margin-top: 0px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                <p>SQL</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <p>Java</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
                <p>Javascript</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                <p>HTML</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                <p>CSS</p>
            </div>
        </div>
    </div>
    <div id="librairies" class="row" style="margin-top: 80px;">
        <div class="col-5">
            <div class="progress progressSpace" style="margin-top: 0px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <p>Bukkit</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                <p>MariaDB</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                <p>Redis</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                <p>CloudFlare</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                <p>JDA</p>
            </div>
        </div>
        <div class="col-5 offset-2 text-center" style="margin-top: 25px;">
            <h2 class="title">Librairies</h2>
            <p class="subtitle">J'ai appris à maîtriser beaucoup de librairies très variées pendant mon expérience dans la programmation et le réseau, en voici les principales.</p>
        </div>
    </div>
    <div id="tools" style="margin-top: 80px;" class="row">
        <div class="col-5 text-center" style="margin-top: 25px;">
            <h2 class="title">Outils & Logiciels</h2>
            <p class="subtitle">Les outils utilisés choisi par un développeur sont d'une importance capital, c'est pourquoi après beaucoup d'essais, j'ai fini par maîtriser des outils différents et puissants.</p>
        </div>
        <div class="col-5 offset-2">
            <div class="progress progressSpace" style="margin-top: 0px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                <p>Eclipse IDE</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                <p>Git</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <p>WinSCP</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                <p>Putty</p>
            </div>
            <div class="progress progressSpace">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                <p>WebStorm</p>
            </div>
        </div>
    </div>
</div>

{{> loader}}
</body>
{{> footer}}
</html>
