<!DOCTYPE html>
<html lang="fr">
<head>
    {{> libs}}
    <meta charset="UTF-8">
    <title>Thibeau - Compétences</title>
</head>
{{> header}}
<body>

<div class="container">
    <div class="row">
        <div class="col-5 text-center">
            <h2 class="title">Programmation</h2>
        <p class="subtitle">En quelques années j'ai eu le temps d'utiliser plusieurs langugages de programmations avec tous leur spécificitées, voici le niveau que j'éstime avoir sur chacun d'entre eux.</p>
        </div>
        <div class="col-5 offset-2">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <p>Java</p>
            </div>
            <div class="progress" style="margin-top: 15px; height: 25px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
                <p>Javascript</p>
            </div>
            <div class="progress" style="margin-top: 15px; height: 25px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                <p>HTML</p>
            </div>
            <div class="progress" style="margin-top: 15px; height: 25px;">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                <p>CSS</p>
            </div>
        </div>
    </div>
</div>

{{> loader}}
</body>
{{> footer}}
</html>
