.progressSpace {
    margin-top: 15px;
    height: 25px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.title {
    color: white;
}

.progress p {
    color: #1E2329;
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
    font-size: 20px;
}

.subtitle {
    color: lightgray;
}

i {
    color: #1E2329;
}

.rolling {
    color: #E1B12C;
}

@keyframes tilt-shaking {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.handAnimation img:hover {
    animation: tilt-shaking 2.5s;
}

.navbar-brand {
    width: 70px;
}

.title {
    font-size: 40px;
    color: white;
}

.colPadding div {
    padding: 6px;
}

.title span:hover {
    transition: 0.2s;
}

nav {
    margin-bottom: 50px;
}

body {
    background-color: #353b48;
}

nav {
    box-shadow: -2px 2px 11px 1px rgba(0,0,0,0.40);
    -webkit-box-shadow: -2px 2px 11px 1px rgba(0,0,0,0.40);
    -moz-box-shadow: -2px 2px 11px 1px rgba(0,0,0,0.40);
}

.nav-link {
    font-size: 20px;
}
